@import url(header.css);
@import url(footer.css);

/*----------- MEDIA QUERIES NEEDS TO BE AT BOTTOM -----------*/
@import url(mediaqueries.css);

:root {
  --blue: #46d3ff;
  --whitetext: FFFFFF;
  --boxes1: 1C1C1C;
  --boxes2: 232323;
  --pagebackroundcolor: 121212;
  --footer: rgba(82, 82, 82, 0.17);
  --mobilefooterbackround: 0C0C0C;
  --pricetagcolor: 3B5B15;
  --pricetagcolorhover: 86C936;
}

/*----------- MAIN AREA -----------*/

a {
  all: unset;
}


#logoimage {
  cursor: pointer;
}

#shoppingcarticon {
  cursor: pointer;
}



body {
  background-color: var(--pagebackroundcolor);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 350px;
  font-family: "Poppins", sans-serif;
  color: var(--whitetext);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-maincontainer {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.checkout-upperhalf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.checkout-upperhalf-container > h1 {
  text-decoration: underline;
  font-weight: 300;
  font-size: 3rem;
}

.checkout-upperhalf-container > p {
  width: 80%;
  text-align: center;
  line-height: 4;
  font-weight: 200;
  font-size: 1.2rem;
}

.checkout-lowerhalf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.checkout-container {
  display: flex;
  background-color: rgba(35, 35, 35, 0.5);
  width: 70%;
  max-width: 1269px;
}

.checkout-container > img {
  margin: 20px 60px 20px 40px;
  height: 400px;
}

.description-logo-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
  gap: 5px;
}

.checkout-gametags-container {
  display: flex;
  gap: 20px;
}



.checkout-gametags-container > p {
  background-color: var(--pagebackroundcolor);
  padding: 10px;
  border-radius: 25px 25px 25px 25px;
  font-size: 0.8rem;
  cursor: pointer;
}

#gametitledescription {
  font-weight: 300 !important;
}

#gamedescription {
  font-weight: 200;
}

.descriptionbox-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectyourplatformcontainer {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.downloadbutton {
  color: var(--whitetext);
  background-color: var(--pricetagcolor);
  text-align: center;
  align-self: center;
  padding: 5px 20px;
  font-size: 1.5rem;
  transition: background-color 0.5s;
  cursor: pointer;
  width: 150px;
  margin-right: 20px;
}

.downloadbutton:hover {
  background-color: var(--pricetagcolorhover);
}
