@import url(header.css);
@import url(footer.css);

/*----------- MEDIA QUERIES NEEDS TO BE AT BOTTOM -----------*/
@import url(mediaqueries.css);

:root {
  --blue: #46d3ff;
  --whitetext: FFFFFF;
  --boxes1: 1C1C1C;
  --boxes2: 232323;
  --pagebackroundcolor: 121212;
  --footer: rgba(82, 82, 82, 0.17);
  --mobilefooterbackround: 0C0C0C;
  --pricetagcolor: 3B5B15;
  --pricetagcolorhover: 86C936;
}

a {
    all: unset;
}

body {
  background-color: var(--pagebackroundcolor);
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-width: 350px;
  font-family: "Poppins", sans-serif;
  color: var(--whitetext);
}


.payment-and-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.paymentwindow {
    display: flex;
    background-color: var(--boxes1);
    gap: 220px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 40px 80px 40px 80px;
}

.paymentbox-leftside {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
}

.paymentbox-rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.paymentoptionscontainer {
    display: flex;
    align-items: center;
    gap: 40px;

}

.paymentmethod {
    display: flex;
    align-items: center;
    gap: 20px;
}




.paymentimage { 
    width: 20px;
    height: 20px;
}

#paypallogo {
    height: 20px;
}

/* Individual ID's for each form */

#creditcardnameinput {
    width: 100%;
}

#creditcardnumber {
    width: 100%;
}

#creditcardexpiry {
    width: 70%;
}

#creditcardsecurity {
    width: 70%;
}

/* ---------------------------------- */

.shortinputcontainer {
    display: flex;

}

.inputfieldlong > input {
    font-size: 1.5em;
    padding: 10px;
}

.inputfieldshort > input {
    font-size: 1.5em;
    padding: 10px;
}


#gametitle {
    font-weight: 300;
    font-size: 1.6rem;
}

#boughtgameimage {
    width: 300px;
}

#confirmandpay {
    color: var(--whitetext);
    background-color: var(--pricetagcolor);
    text-align: center;
    font-size: 1.3rem;
    transition: background-color 0.5s;
    cursor: pointer;
    width: 300px;
  }
  
  #confirmandpay:hover {
    background-color: var(--pricetagcolorhover);
  }

  .pagenumbercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  #pagenumberactive {
    background-color: var(--boxes2);
    padding: 10px 20px 10px 20px;
    border-radius: 100px 100px 100px 100px ;
    font-size: 1em;
    margin: 0;
  }

  #pagenumberdeactive {
    background-color: var(--pagebackroundcolor);
    padding: 10px 20px 10px 20px;
    border-radius: 100px 100px 100px 100px ;
    font-size: 1em;
    margin: 0;
  }


  .pagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 60px;
  }



/* THESE ARE THE BOXES CONTAINING ONE PIECE OF TEXT AND ONE FORM IN THE PAYMENT FORM 'EXPIRY DATE' & 'SECURITY CVC'*/
.shortinputleft {
    display: flex;
    flex-direction: column;
}

.shortinputright {
    display: flex;
    flex-direction: column;
}

/* END OF BOXES */



/* TEXT ADJUSTMENTS HERE */

.shoppingcart-maincontainer > h1 {
    margin-left: 5vw;
    margin-top: 50px;
    margin-bottom: 120px ;
    text-decoration: underline;
    font-weight: 300;
}

.paymentbox-leftside > h2 {
    font-size: 2em;
    margin: 0;
}

.pagenumbercontainer > p {
    margin: 0;
  }

/* ADJUSTMENTS TO THE SIZE OF THE TEXT ABOVE THE INPUT FORMS */

.paymentfieldcontainer > p {
    font-size: 1.2em;
}

.shortinputleft > p {
    font-size: 1.2em;
}

.shortinputright > p {
    font-size: 1.2em;
}


/* TEXT ADJUSTMENTS HERE */





